.credential-label {
    width: 8em;
    display: inline-block;
    font-size: 9pt;
}

.credential-field {
    width: 35em;
    display: inline-block;
}

.credential-field-select {
    width: 36em;
}

.btn-credentials {
    display: inline-block;
    margin-left: 1em;
}

.btn-save {
    fill: #a2c5dd;
}

.btn-save:hover{
    fill: #3498db;
}

.btn-add {
    fill: #3498db;
    padding: .5em;
    margin-bottom: 1em;
}

.btn-add:hover{
    fill: #a2c5dd;
    background-color:white;
}

.btn-icon-big{
    width: 2em;
    height: 2em;
}

.btn-add-inner{
    padding-top: .25em;
}

.margin-left-big {    
    margin-left: 10em;
}