.btn {
    background-color: white;
    color: #3498db;
    border-radius: .25rem;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    height: 2em;
    cursor: pointer;
    transition: 200ms;
    border: 1px solid #3498db;
    text-align: center;
    width: 15em;
}

.btn:hover {
    background-color: #e6e6e6;
    transition: 200ms;
}

.btn-primary {
    background-color: #3498db;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #5cb6f1;
}

.btn-icon {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
}

.btn-icon:hover {
    fill: #ccc;
    transition: 200ms;
}

.btn-icon-delete {
    fill: rgb(185, 139, 139);
}

.btn-icon-delete:hover {
    fill: rgb(182, 48, 48);
}

.btn-margins {
    margin-top: .5em;
    margin-bottom: .5em;
}

.btn-small{
    color: #545c60;
    fill: #545c60;
    cursor: pointer;
    transition: 200ms;
}

.btn-small:hover{
    color: #111;
    fill: #111;
}

.monospace-font {
    font-family: "Courier New", Courier, monospace;
}

.textarea {
    border-radius: .3125rem;
    border: 2px solid #e3e3e3;
    padding: .3125rem;
}

.crossRotate {
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

table th {
    padding: 1em;
    background-color: #ccebff;
}

table td {
    padding: 1em;
}

table tr:nth-child(odd) {
    background: #d7efff
}

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-delay: .8s;
}

.centered {
    text-align: center;
    display: block;
}

.icon-medium > svg{
    width: 1.5em;
    height: 1.5em;
}

.icon-intext > svg{
    width: 1em;
    height: 1em;
    margin-left: .25em;
    margin-right: .25em;
}

.table-icon{    
    margin-left:.25em;
    margin-right:.25em;
}

.table-icon > span > svg{
    cursor: pointer;
    font-size: .9em;
    fill: #555;
    transition: 200ms;
}
.table-icon > span :hover{
    fill: #111;
}
.table-icon-del > span > svg{
    fill: rgb(185, 139, 139);
}
.table-icon-del > span :hover{
    fill: #d94f4f;
}
.table-icon-green > span > svg {
    fill: #baddbe
}

.table-icon-green > span :hover {
    fill: #4fd961
}

.table {
    background-color: white;
}

.table-text-column {
    min-width: 15em;
}

.table-colum-actions{
    min-width: 8em;
}