.btn {
    background-color: white;
    color: #3498db;
    border-radius: 0.3125rem;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    height: 2em;
    cursor: pointer;
    transition: 200ms;
    border: 1px solid #3498db;
    text-align: center;
    width: 15em;
}

.btn:hover {
    background-color: #e6e6e6;
    transition: 200ms;
}

.btn-primary {
    background-color: #3498db;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #5cb6f1;
}

.btn-align-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-icon {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
}
.btn-icon:hover {
    fill: #ccc;
    transition: 200ms;
}

.btn-icon-delete {
    fill: rgb(185, 139, 139);
}

.btn-icon-delete:hover {
    fill: rgb(182, 48, 48);
}

.monospace-font {
    font-family: "Courier New", Courier, monospace;
}

.textarea {
    border-radius: .3125rem;
    border: 2px solid #e3e3e3;
    padding: .3125rem;
}

.crossRotate {
    animation:spin 1s linear infinite;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
 }
 @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
 @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}

 table th {
     padding: 1em;
     background-color: #ccebff;
 }
 table td {
     padding: 1em;
 }

 table tr:nth-child(odd) {background: #d7efff}
 