.container {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: .2em;
    background-color: #eef8ff;
    width: 20.5em;
    position: relative;
}

.double-container {
    width: 42em;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.centered-container {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.messageLabel {
    text-align: left;
}

.messageLabel:after {
    content: ":";
}

.box-header {
    padding-top: .667em;
    padding-left: .667em;
    padding-right: .667em;
    font-weight: 600;
    font-size: 1.25em;
}

.box-header-with-icon {
    display: flex;
    justify-content: space-between;
}

.box-content {
    padding: 1em;
    font-size: .8125em;
    display: inline-block;
}

.box-content div {
    margin-bottom: .3125em;
}

.box-content div textarea {
    width: 22em;
    height: 7em;
}

.vspacer, .hspacer {
    height: 1em;
    width: 1em;
}