.container {   
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: .2em;
    background-color: #eef8ff;
    width: 20.5em;
}

.messageLabel {
    text-align:left;
}
.messageLabel:after {
    content: ":";
}

.box-header {
    padding-top: .667em;
    padding-left: .667em;
    padding-right: .667em;
    font-weight: 600;
    font-size: 1.25em;
}

.box-content {    
    padding: 1em;
    font-size: .8125em;
}

.box-content div {
    margin-bottom: .3125em;
}

.box-content div textarea {
    width: 22em;
    height: 7em;
}