.block {
    display: block
}

.kpi {
    font-size: 5em;
    text-align: center;
    color: #2a485d;
}

.kpi_background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: .075;
    position: absolute;
    top: 3em;
    height: 9em;
    width: 100%;
    padding: 0;
}